.clients {
  padding: 6rem 0;
  .container {
    .clients-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      .client {
        text-align: center;
      }
    }
  }
  @media (max-width: 850px) {
    padding: 16px;
    .container {
      .clients-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        :last-child {
          grid-column: span 2;
          justify-content: center;
        }
        .client {
          img {
            height: 30px;
          }
        }
      }
    }
  }
}
