@use "./variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: map-get($base, font-family);
}

.app-container {
  background-color: map-get($colors, --background);
  display: grid;
  place-content: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  padding: 2rem 4rem;
  @media screen and (max-width: 1080px) {
    padding: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .content-app {
    max-width: 1250px;
  }
}

::-webkit-scrollbar {
  background-color: #111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: map-get($colors, --orange);
}
