@use "./variables" as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: map-get($base, font-family);
}

body {
  padding: 0;
  margin: 0;
}

.app-container {
  background-color: map-get($colors, --background);
}
