@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";
[data-theme="light"] {
  --background: #fff;
  --accent-color1: #000;
  --accent-color2: #eee;
  --accent-color3: #777;
  --card-color: #eee;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Inter" sans-serif;
}
.app-container {
  background-color: #111;
  display: grid;
  place-content: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  padding: 2rem 4rem;
}
@media screen and (max-width: 1080px) {
  .app-container {
    padding: 0;
  }
  .app-container::-webkit-scrollbar {
    display: none;
  }
}
.app-container .content-app {
  max-width: 1250px;
}
::-webkit-scrollbar {
  background-color: #111;
  width: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ff8139;
}
.card {
  background-color: #000;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.card-content .card-heading {
  display: flex;
  justify-content: space-between;
}
.card-content .card-heading .card-series {
  color: #ff8139;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.card-content .card-heading .card-top {
  color: #ccc;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.card-content .card-details {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
}
.card-content .card-details .card-price {
  display: flex;
  gap: 16px;
}
.card-content .card-sub-details {
  display: flex;
  justify-content: space-between;
}
.card-content .card-sub-details span {
  color: #ccc;
  font-size: 0.9rem;
}
footer {
  margin: 96px 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .upper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
footer .upper .brand-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .upper .brand-container ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
footer .upper .links {
  display: flex;
  gap: 128px;
}
footer .upper .links .link {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .upper .links .link h4 {
  color: #fff;
  text-transform: uppercase;
}
footer .upper .links .link ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .lower {
  display: flex;
  justify-content: space-between;
}
footer .lower span {
  color: #ccc;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .brand-container .brand img {
  height: 100%;
}
nav .brand-container .toggle-container {
  display: none;
}
nav .links-container .links {
  list-style: none;
  display: flex;
  gap: 4rem;
}
nav .links-container .links li a {
  color: #fff;
  text-decoration: none;
}
nav .links-container .links li:last-of-type a {
  color: #ff3998;
}
.clients {
  padding: 6rem 0;
}
.clients .container .clients-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.clients .container .clients-container .client {
  text-align: center;
}
.free {
  position: relative;
  margin: 5rem 0;
}
.free .container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 25rem;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  background-color: #ff8139;
}
.free .container .background {
  z-index: -1;
}
.free .container .background .ellipse {
  position: absolute;
  height: 100%;
  width: 420px;
  border-radius: 100%;
  filter: blur(100px);
}
.free .container .background .pink {
  background-color: #ff3998;
  top: -10%;
  left: -15%;
}
.free .container .background .green {
  background-color: #39ffa0;
  top: -10%;
  right: -15%;
}
.free .container .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 45px;
  padding-left: 75px;
  font-size: 1.3rem;
}
.free .container .content .title {
  font-size: 2rem;
}
.free .cards {
  display: flex;
  position: absolute;
  top: -32px;
  right: 40%;
}
.free .cards .card1 {
  top: 0;
  position: absolute;
  z-index: 3;
  transform: rotate(-10deg);
  font-size: 0.6rem;
}
.free .cards .card1 .card-image img {
  width: 12rem;
}
.free .cards .card2 {
  top: 0;
  z-index: 2;
  position: absolute;
  left: 10rem;
  transform: rotate(5deg);
  font-size: 0.7rem;
}
.free .cards .card2 .card-image img {
  width: 12rem;
}
.home {
  margin-top: 4.5rem;
}
.home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;
}
.home .container .content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.home .container .content .sub-title {
  color: #ff3998;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.home .container .content .title {
  color: #fff;
}
.home .container .content .description {
  color: #ccc;
}
.home .container .content button {
  color: #fff;
  background-color: #111;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: solid 3px rgba(0, 0, 0, 0);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #ff3998, #ff8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111 inset;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.home .container .content button:hover {
  box-shadow: none;
}
.home .container .image-container {
  text-align: center;
  position: relative;
  z-index: 10;
}
.home .container .image-container .ellipse-container .ellipse {
  z-index: -1;
  position: absolute;
  height: 15rem;
  width: 15rem;
  filter: blur(100px);
}
.home .container .image-container .ellipse-container .pink {
  background-color: #ff3998;
  top: 40%;
  right: 40%;
}
.home .container .image-container .ellipse-container .orange {
  background-color: #ff8139;
  bottom: 40%;
  left: 40%;
}
.like {
  margin: 5rem 0;
}
.like .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.like .container .content {
  background-color: #555;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px;
  border-radius: 32px;
}
.like .container .content .title {
  color: #fff;
}
.like .container .content .description {
  color: #ccc;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
.releases {
  margin: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.releases .release {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}
.releases .release .content {
  padding: 80px 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.releases .release .content .title {
  font-size: 2rem;
}
.releases .release .content .description {
  font-size: 1.3rem;
}
.releases .release .content .description a {
  color: #000;
  font-weight: bold;
}
.releases .release .content .link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  gap: 16px;
  align-items: center;
}
.releases .release .content .link svg {
  font-size: 1.5rem;
}
.releases .release .image {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.releases .release .image img {
  height: 24rem;
}
.releases .release .image .ellipse {
  z-index: -1;
  position: absolute;
  height: 320px;
  width: 320px;
  filter: blur(100px);
  bottom: -40%;
  right: 0;
}
.releases .release .image .pink {
  background-color: #ff3998;
}
.releases .release .card-container {
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.releases .release .card-container .ellipse {
  z-index: -1;
  position: absolute;
  height: 320px;
  width: 320px;
  filter: blur(100px);
  bottom: -45%;
  left: 0;
}
.releases .release .card-container .orange {
  background-color: #ff8139;
}
.releases .orange {
  background-color: #ff8139;
}
.releases .green {
  background-color: #39ffa0;
}
.signup {
  padding-top: 64px;
  overflow: hidden;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.signup .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.3rem;
}
.signup .container .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}
.signup .container .content .sub-title {
  color: #ff3998;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.signup .container .content .title {
  color: #fff;
}
.signup .container .content .description {
  color: #ccc;
}
.signup .container .content button {
  color: #fff;
  background-color: #111;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: solid 3px rgba(0, 0, 0, 0);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #ff3998, #ff8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111 inset;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.signup .container .content button:hover {
  box-shadow: none;
}
.signup .container .image-container {
  text-align: center;
  position: relative;
  z-index: 10;
}
.signup .container .image-container .image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signup .container .image-container .ellipse-container .ellipse {
  z-index: -1;
  position: absolute;
  height: 15rem;
  width: 15rem;
  filter: blur(100px);
}
.signup .container .image-container .ellipse-container .pink {
  background-color: #ff3998;
  top: 40%;
  right: 40%;
}
.signup .container .image-container .ellipse-container .orange {
  background-color: #ff8139;
  bottom: 40%;
  left: 40%;
}
.super-rare {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.super-rare .title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.super-rare .title-container .title {
  color: #fff;
  font-size: 2.4rem;
}
.super-rare .title-container .description {
  color: #ccc;
}
.super-rare .title-container .description a {
  color: #ccc;
  font-weight: bold;
}
.super-rare .cards {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
